@import "../Helpers/Helpers.scss";

.footerContainer{
    background: $signupTheme;
    font-family: $fontNormal;
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .contents{
        display: flex;
        justify-content: space-between;
        .content{
            width: 25%;
            padding-left: 5%;
            h3{
                color: $homeText;
                letter-spacing: 0.07em;
                font-size: 1.5em;
                font-family: $fontBlack;
            }
            h4{
                color: $homeText;
                letter-spacing: 0.07em;
                font-size: 1em;
                font-family: $fontBold;

            }
            p{
                color: $description;
                font-size: 0.9em;
                padding-top: 3%;
            }
            h5{
                color: $homeText;
                letter-spacing: 0.07em;
            }
            input{
                width: 100%;
                height: 40px;
                border:none;
                padding-left: 7%;
                border-radius: 7px;
                box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
                font-size: 0.9em;
            }
            button{
                border: none;
                background: $btnOrange;
                margin-top: 8%;
                padding: 4%;
                padding-left: 6%;
                padding-right: 6%;
                font-size: 0.8em;
                color: white;
                border-radius: 5px;
                               
                font-family: $fontBold;
                letter-spacing: 0.07em;
            }
        }
      
    }
    .line{
        margin-top: 5%;
        width: 90%;
        height: 0px;
        border-width: 1px;
        border-color: rgba(53, 61, 102, 0.25);
    }
    .footerTitle{
        margin-bottom: 1%;
        text-align: center;
        color: $homeText;
        h2{
            letter-spacing: 0.07em;
            font-family: $fontBold;
            font-size: 1.2em;
        }
    }

}

@media only screen and (max-width: 650px) {
    .footerContainer{
        .contents{
            flex-direction: column;
            .content{
                width: 100%;
                display: block;
                input{
                    width: 75%;
                }
            }
        }
    }


}