@import '../Helpers/Helpers.scss';

.numbers{
    font-family: $fontNormal;
    text-align: center;
    background: $signupTheme;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-top: 8%;
    h3{
        color: $homeText;
        font-family: $fontBold;
        font-size: 1em;
        line-height: 37px;
        letter-spacing: 0.1em;

    }
    .contents{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
        .content{
            text-align: center;
            width: 200px;
            h4{
                font-family: $fontNormal;
                font-size: 0.8em;
            

            }
            p{
                color: $btnOrange;
                font-family: $fontBlack;
                letter-spacing: 0.1em;

            }
        }
    }
}