@import '../Helpers/Helpers.scss';

.banner{
    padding-top: 4em;
    width: 100%;
    height: 25em;
    display: flex;
    margin-bottom: 5em;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

.jobEntry{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 3em auto;
    .jobImage{
        
        img{
            width: 60%;
        }

    }
    .jobDesc{
        width: 80%;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        h3{
            font-family: $fontBold;
            color: $homeText;
            letter-spacing: 0.07em;
            font-size: 1.3em;
        }
        h4{
            font-family: $fontNormal;
            font-size: 1.2em;
            line-height: 37px;
            letter-spacing: 0.03em;
            color: $jobRole;
        }
        p{
            font-family: $fontNormal;
            font-weight: 400;
            font-size: 1em;
            letter-spacing: 0.03em;
            color: $jobInfo;
        }
        .hideid{
            display: none;
        }
    }
}

.infolink{
    font-family: $fontNormal;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #3C58BF;
    text-decoration: none;
    & :hover{
        color: #010515;
    }
}

.offers{
    margin-bottom: 10em;
    hr{
        width: 80%;
        margin: 0 auto;
    }
}

.offerdescription{
    .header{
        padding-top: 4em;
        width: 100%;
        h2{
            text-align: center;
            margin: 5em 0;
            font-family: $fontBold;
            color: $homeText;
        }
    }
    .body{
        font-family: $fontNormal;
        font-weight: 400;
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 0.1em;
        color: #ABACB1;
        margin-bottom: 10em;
        span{
           font-family: $fontMedium;    
           color: $homeText;
        }
    }
    .simpledescription{
        margin-bottom: 3em;
        
        
    }
    .info{
        font-family: $fontMedium;    
        color: $homeText;
        font-size: 25px;
    }
    .button{
        position: absolute;
        width: 15%;
        height: 48px;
        background: $btnOrange;
        border: 1px solid $btnOrange;
        border-radius: 6px;
        color: #fff;
        font-size: 1em;
        font-family: $fontBold;
        margin-left: 40%;
    }
}